<h3>Connexion</h3>
<form [formGroup]="loginFormulaire" *ngIf="!(user)">
  <div class="mb-3">
    <label for="idNom" class="form-label">Nom d'utilisateur</label>
    <input  formControlName="champNom" type="text" id="idNom" placeholder="3 caractères minimum" autofocus [ngClass]="{'form-control':true,'is-invalid':nomInvalide()}" #inputFocus>
  </div>
  <div class="mb-3">
    <label for="idPwd" class="form-label">Mot de passe</label>
    <input formControlName="champPwd"  type="password" id="idPwd" placeholder="Votre mot de passe" [ngClass]="{'form-control':true,'is-invalid':mdpInvalide()}">
  </div>
  <div  class="container">
    <div id="lesBoutons">
      <button type="button" class="btn btn-light" [disabled]="FormulaireInvalide()" (click)="connexion()">Connexion</button>
<!--      <button type="button" class="btn btn-light" (click)="resetForm()">Annuler</button>-->
    </div>
  </div>
</form>
<h4 *ngIf="user"> vous êtes déja connecté</h4>
